.home-main {
  padding-top: 82px; 
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.home-section {
  scroll-margin-top: 82px;
  
  min-height: 50vh; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
  border-bottom: 1px dashed #ccc; 
}

.home-section p {
  font-family: var(--fonte-texto);
  font-size: 1.5rem;
  color: var(--input-color);
  font-weight: 700;
  text-transform: uppercase;
}
#conheca-osc, #eventos, #parceiros {
  display: block;
  min-height: auto;
}