<nav class="navbar">
  <div class="logo-container">
    <a style="cursor: pointer;" (click)="scrollTo('inicio')">
      <img src="/images/logo_colorida_texto.png" alt="Logo Lar Escola Redenção">
    </a>
  </div>

  <button class="menu-toggle" (click)="alternarMenu()" aria-label="Abrir menu">
    <span class="material-symbols-outlined">
      {{ menuAberto() ? 'close' : 'menu' }}
    </span>
  </button>

  <div class="nav-content" [class.ativo]="menuAberto()">
    <ul class="nav-links">
      <li><a (click)="scrollTo('inicio')">Início</a></li>
      <li><a (click)="scrollTo('conheca-osc')">Conheça a OSC</a></li>
      <li><a (click)="alternarMenu()">Como ajudar?</a></li>
      <li><a (click)="scrollTo('unidades')">Unidades</a></li>
      <li><a routerLink="/eventos" (click)="alternarMenu()">Eventos</a></li>
      <li><a (click)="scrollTo('parceiros')">Parceiros</a></li>
      <li><a routerLink="/transparencia" (click)="alternarMenu()">Transparência</a></li>
    </ul>
    <div class="nav-action">
      <button mat-flat-button class="btn-custom" (click)="realizarLogin()">
        <span class="material-icons">person</span>
        <span>Entrar</span>
      </button>
    </div>
  </div>
</nav>